Lab practice

Task 01:Scenario: Inventory system
A small shop keeps a list of product names: ["pencil", "notebook", "eraser", "marker"].
1.Add two new products at the end.
2.Insert a product at position 2.
3.Explain why a list is appropriate here.

In [79]:

products = ["pencil", "notebook", "eraser", "marker"]

products.append("stapler")
products.append("highlighter")

products.insert(2, "pen")

print(products)

['pencil', 'notebook', 'pen', 'eraser', 'marker', 'stapler', 'highlighter']

Task 02:Data slicing & indexing
Given: temps = [23, 25, 19, 30, 21, 22]
1.Access the first, last, and second-to-last items.
2.Slice the list to get the middle four values.
3.Using negative indexing, get the item “21”.

In [80]:
temps = [23, 25, 19, 30, 21, 22]

first = temps[0]
last = temps[-1]
second_last = temps[-2]

middle_four = temps[1:5]

value_21 = temps[-2]

print(first, last, second_last)   # 23 22 21
print(middle_four)                # [25, 19, 30, 21]
print(value_21)                   # 21

23 22 21
[25, 19, 30, 21]
21

Task 3: Nested lists and heterogeneous data
Create a list representing three students: each student is itself a list containing [name, roll_number, grades_list]. Example: ["Ali", 101, [80, 90, 85]].
1.Build for 3 students.
2.Change one student’s second grade.
3.Add a fourth grade to one student’s grades_list.

In [81]:

students = [
    ["Ali", 101, [80, 90, 85]],
    ["Sara", 102, [75, 85, 95]],
    ["Omar", 103, [88, 92, 79]]
]

students[1][2][1] = 89

students[2][2].append(84)

print(students)

[['Ali', 101, [80, 90, 85]], ['Sara', 102, [75, 89, 95]], ['Omar', 103, [88, 92, 79, 84]]]

Task 04: List mutator methods
Given: colours = ["red", "green", "blue"]
1.Use .append() to add “yellow”.
2.Use .extend() to add ["purple", "orange"].
3.Use .insert() to insert “black” at index 1.
4.Use .remove() to remove “green”.
5.Use .pop() to remove the last item and print it.
6.Print the final list.

In [82]:
colours = ["red", "green", "blue"]

colours.append("yellow")

colours.extend(["purple", "orange"])

colours.insert(1, "black")

colours.remove("green")

last_item = colours.pop()
print("Popped item:", last_item)

print(colours)

Popped item: orange
['red', 'black', 'blue', 'yellow', 'purple']

Task 05: Using operators and built-in functions
Let numbers = [5, 10, 15, 20].
1.Use the in operator to check if 15 is in the list.
2.Use + to concatenate [25, 30] to numbers.
3.Use *2 to produce a new list repeating numbers twice.
4.Use len(), min(), max(), and sum() on numbers.

In [83]:
numbers = [5, 10, 15, 20]

print(15 in numbers)  

numbers2 = numbers + [25, 30]
print(numbers2)

print(numbers * 2)

print(len(numbers))  
print(min(numbers))  
print(max(numbers))  
print(sum(numbers))

True
[5, 10, 15, 20, 25, 30]
[5, 10, 15, 20, 5, 10, 15, 20]
4
5
20
50

Task 06: List comprehensions & conversion
You have a tuple: values = (2, 4, 6, 8, 10).
1.Convert the tuple to a list.
2.Then use a list comprehension to produce a list where each value is squared.
3.Filter this to include squared values greater than 30.
4.Print the resulting list.

In [84]:
values = (2, 4, 6, 8, 10)

values_list = list(values)

squared = [x**2 for x in values_list]

filtered = [x for x in squared if x > 30]

print(filtered)  # [36, 64, 100]

[36, 64, 100]

Tuple Tasks

Task 01:Scenario: Fixed configuration
You store configuration data for a device: device = ("device01", "192.168.1.10", 8080, True)
1.Access each element by index.
2.Attempt to change the port value (8080) to 9090; catch the error and explain why it happens.
3.Convert the tuple into a list, modify the port to 9090, then convert back into a tuple.

In [85]:
device = ("device01", "192.168.1.10", 8080, True)

print(device[0], device[1], device[2], device[3])

try:
    device[2] = 9090
except TypeError as e:
    print("Error:", e)

device_list = list(device)
device_list[2] = 9090
device = tuple(device_list)
print(device)

device01 192.168.1.10 8080 True
Error: 'tuple' object does not support item assignment
('device01', '192.168.1.10', 9090, True)

Task 02: Creating tuples & singleelement tuple nuance
1.Create a tuple single = (5,).
2.Create not_tuple = (5) and show its type.
3.Create t = tuple(range(5)).
4.Print t.

In [86]:
single = (5,)
not_tuple = (5)

print(type(single))     
print(type(not_tuple))  

t = tuple(range(5))
print(t)

<class 'tuple'>
<class 'int'>
(0, 1, 2, 3, 4)

Task 03: Indexing, slicing, negative indices
Let weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun").
1.Access the first and last day.
2.Use slicing to get "Wed", "Thu", "Fri".
3.Use negative indexing to get “Sat”.

In [87]:
weekdays = ("Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun")

print(weekdays[0], weekdays[-1])  
print(weekdays[2:5])             
print(weekdays[-2])

Mon Sun
('Wed', 'Thu', 'Fri')
Sat

Task 04: Nested tuples & mixing
Create a tuple: data = ("UserA", (2023, 9, 15), ["task1", "task2"]).
1.Access the date tuple and print year, month, day.
2.Access the list of tasks and add a task to it. Explain how a mutable item in an immutable tuple can be modified.

In [88]:
data = ("UserA", (2023, 9, 15), ["task1", "task2"])

year, month, day = data[1]
print(year, month, day)

data[2].append("task3")
print(data)

2023 9 15
('UserA', (2023, 9, 15), ['task1', 'task2', 'task3'])

Task 05: Packing & unpacking
Given: point = (10, 20, 30)
1.Unpack into x, y, z.
2.Swap x and z in one line using tuple unpacking.
3.Pack x, y, z back into a tuple point2.
4.Print both point and point2.

In [89]:
point = (10, 20, 30)

x, y, z = point

x, z = z, x

point2 = (x, y, z)

print(point)   
print(point2)

(10, 20, 30)
(30, 20, 10)

Task 06:Scenario: Choosing tuple vs list
You need to store the months of the year as a fixed sequence.
1.Define months as a tuple.
2.Explain in comments why tuple is better than list here.
3.Try to append a month and show the error.
4.Convert to list if you really needed to change it.

In [90]:

months = ("Jan", "Feb", "Mar", "Apr", "May", "Jun", 
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")

try:
    months.append("Month13")
except AttributeError as e:
    print("Error:", e)

months_list = list(months)
months_list.append("Month13")
print(months_list)

Error: 'tuple' object has no attribute 'append'
['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Month13']

Task 07: Operators & builtin functions with tuples
Let nums = (3, 6, 9, 12)
1.Use in and not in to test membership.
2.Concatenate nums + (15, 18).
3.Multiply nums * 3.
Use len(), min(), max(), sum() on the tuple

In [91]:
nums = (3, 6, 9, 12)

print(6 in nums)       
print(5 not in nums)   

nums2 = nums + (15, 18)
print(nums2)

print(nums * 3)

print(len(nums))  
print(min(nums))  
print(max(nums))  
print(sum(nums))

True
True
(3, 6, 9, 12, 15, 18)
(3, 6, 9, 12, 3, 6, 9, 12, 3, 6, 9, 12)
4
3
12
30